.BigPost {
    padding: 15px;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.BigPost .upperSection {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}



.BigPost .lowerSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BigPost .likeButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}


