.SmallPost {
    padding: 15px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
    );
    border-radius: 20px;
}

.SmallPost .upperSection, .SmallPost .lowerSection  {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.SmallPost .likeButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SmallPost:hover {
  box-shadow: none;
  box-shadow: 5px 5px 0 0 #D3D1D1;
  scale: 1.01;
}