.Home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 100%;
}

.Home .sideBarContainer {
    width: 18%;
    height: fit-content;
    padding: 20px 0px 20px 20px;
}

.Home .popularBar {
    height: 80%;
    position: fixed;
    width: inherit;
}

.Home .popularPosts {
    background-color: #4E9151;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    align-items: center;
    gap: 10px;
    transition: 0.3s ease;
}

.Home .popularPosts:hover, .Home .additionalContent:hover {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.Home .content {
    margin-top: 40px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Home .content form {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.Home .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.Home .headerTags {
    color: #4E9151;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Home .infoBar {
    height: 100%;
    position: fixed;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Home .additionalContent {
    background-image: url("/birdhero.jpg");
    margin-top: 5px;
    margin-bottom: auto;
    border-radius: 20px 0px 0px 20px;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    height: 50%;
    transition: 0.3s ease;
}

.Home .additionalContent h3 {
    text-align: center;
    color: white;
}

.Home .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    border-radius: 20px 0px 0px 0px;
    background-color: #4E9151;
    padding: 20px 0px 20px 20px;
    justify-content: start;
}

.Home .footer p {
    color: white;
}

.Home .footer .warning {
    font-size: 8px;
    color: rgb(185, 185, 185);
}

.Home .icon {
    background-image: url("./logo.svg");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 40px;
}

/* RadixUI */

.selectTrigger {
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.selectContent {
    width: 200px;
}